.row{   

    background-color:black;
    color:gold;
    font-size:20px;
}
.headshot{
    width:0%;
   
}
.mid{
    background-color:black;
    color:gold;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    width: 0%
    width: 0%;
    
}

.footer{
    display: flex;
    justify-content: space-around;
}

.mid{
    display: flex;
    justify-content: space-around;
}

.profilepic{
    width: 20%
}

.contact{
    display: flex;
    justify-content: space-around;
}